@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 216 29% 97%;
    --foreground: 216 27% 20%;
    --card: 216 27% 93%;
    --card-foreground: 216 27% 20%;
    --popover: 216 29% 97%;
    --popover-foreground: 216 27% 20%;
    --primary: 215 46% 74%;
    --primary-foreground: 216 27% 20%;
    --secondary: 283 30% 77%;
    --secondary-foreground: 216 27% 20%;
    --muted: 216 29% 20%;
    --muted-foreground: 217 27% 70%;
    --accent: 310 29% 80%;
    --accent-foreground: 216 27% 20%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 216 27% 20%;
    --border: 216 29% 20%;
    --input: 216 29% 20%;
    --ring: 310 29% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 216 33% 3%;
    --foreground: 216 27% 80%;
    --card: 216 33% 7%;
    --card-foreground: 216 27% 80%;
    --popover: 216 33% 3%;
    --popover-foreground: 216 27% 80%;
    --primary: 215 46% 26%;
    --primary-foreground: 216 27% 80%;
    --secondary: 283 30% 23%;
    --secondary-foreground: 216 27% 80%;
    --muted: 215 33% 80%;
    --muted-foreground: 216 27% 80%;
    --accent: 310 29% 20%;
    --accent-foreground: 216 27% 80%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 217 25% 10%;
    --border: 216 33% 60%;
    --input: 215 33% 80%;
    --ring: 310 29% 60%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
